# The apikey for the different weather providers, at least one must be specified
# Note: Hamweather requires two apikeys: client_id=apikey, client_secret=apikey2
apikey.ForecastIo=d90bfac77f2f4da480dd8978d23941f5
apikey.OpenWeatherMap=166fe7ca9e50249e53de4b804f3694e1
#apikey.ForecastIo=
#apikey.OpenWeatherMap=
#apikey.WorldWeatherOnline=
#apikey.Wunderground=
#apikey.Hamweather=
#apikey2.Hamweather=
#apikey.Meteoblue=

# location configuration, you can specify multiple locations
location.home.name=Zuhause
location.home.latitude=51.719051
location.home.longitude=8.75439
#location.home.woeid=      (required for Yahoo provider)
location.home.provider=OpenWeatherMap
location.home.language=de
location.home.updateInterval=10
#location.home.units=

#location.<locationId2>.name=
#location.<locationId2>.latitude=   (not required for Yahoo provider)
#location.<locationId2>.longitude=  (not required for Yahoo provider)
#location.<locationId2>.woeid=      (required for Yahoo provider)
#location.<locationId2>.provider=
#location.<locationId2>.language=
#location.<locationId2>.updateInterval=
#location.<locationId2>.units=
